<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="InspectionWaiverUsers" value="1356,1204,0083,0511"/>
    <add key="PageNoProvider" value="True"/>
    <add key="PageSizeProvider" value="True"/>
    <add key="FTPUploadDir" value="QicmsFTPData/Upload"/>
    <add key="FTPDownloadDir" value="QicmsFTPData/Download"/>
    <add key="FTPHost" value="54.243.109.144"/>
    <add key="FTPLoginID" value="isgec"/>
    <add key="FTPPassword" value="fieldforce"/>
    <add key="RequestDir" value="D:\App_Vault\QcmRequest"/>
    <add key="InspectionDir" value="D:\App_Vault\QcmInspection"/>
    <add key="HRMS.HRMSServices" value="http://localhost/WebHrms1/App_Services/HRMSServices.asmx"/>
    <add key="OCSConnectionString" value="server=192.9.200.172;User Id=mysqlUser;Password=isgec12345;Persist Security Info=True;database=ftp"/>
    <add key="Tools.ToolsServices" value="http://localhost/WebTools1/App_Services/ToolsServices.asmx"/>
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection"/>
    <add name="--AspNetDBConnection" connectionString="Data Source=192.168.28.136;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="AspNetDBConnection" connectionString="Data Source=192.9.200.150;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="-AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="STD"/>
        <add directoryName="QCM"/>
      </codeSubDirectories>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" timeout="50"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60"/>
    <customErrors mode="RemoteOnly"/>
    <identity impersonate="false"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="RGV" namespace="LavaBlast.AJAX.GridViewResizeExtender" assembly="GridViewResizeExtender"/>
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx"/>
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx"/>
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx"/>
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx"/>
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx"/>
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx"/>
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx"/>
        <add tagPrefix="LGM" tagName="LGAlert" src="~/Sys_Controls/lgAlert.ascx"/>
        <add tagPrefix="LGM" tagName="EmployeeInfoForReports" src="~/Sys_Controls/EmployeeInfoForReports.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmEmployees" src="~/QCM_Main/APP_FKControls/LC_qcmEmployees.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmProjects" src="~/QCM_Main/APP_FKControls/LC_qcmProjects.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmCompanies" src="~/QCM_Main/APP_FKControls/LC_qcmCompanies.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmVendors" src="~/QCM_Main/APP_FKControls/LC_qcmVendors.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmDivisions" src="~/QCM_Main/APP_FKControls/LC_qcmDivisions.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmDepartments" src="~/QCM_Main/APP_FKControls/LC_qcmDepartments.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmDesignations" src="~/QCM_Main/APP_FKControls/LC_qcmDesignations.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmOffices" src="~/QCM_Main/APP_FKControls/LC_qcmOffices.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmUsers" src="~/QCM_Main/APP_FKControls/LC_qcmUsers.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmInspectionStages" src="~/QCM_Main/APP_FKControls/LC_qcmInspectionStages.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmInspectionStatus" src="~/QCM_Main/APP_FKControls/LC_qcmInspectionStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmRequestStates" src="~/QCM_Main/APP_FKControls/LC_qcmRequestStates.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmReceivingMediums" src="~/QCM_Main/APP_FKControls/LC_qcmReceivingMediums.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmInspectorGroups" src="~/QCM_Main/APP_FKControls/LC_qcmInspectorGroups.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmEmployeeGroups" src="~/QCM_Main/APP_FKControls/LC_qcmEmployeeGroups.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmRequests" src="~/QCM_Main/APP_FKControls/LC_qcmRequests.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmRegions" src="~/QCM_Main/APP_FKControls/LC_qcmRegions.ascx"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="65536" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>